
sheetAutomation/Project Katsuki-42ad85cb5253.json
sheetAutomation/output.json
sheetAutomation/quickstart.py
sheetAutomation/lordsAutomation.py
sheetAutomation/debateScoring.py
sheetAutomation/credentials.json
sheetAutomation/config.json
sheetAutomation/redditAutomation.py
sheetAutomation/token.pickle
